extends base

mixin navItem(link, text, icon, active) 
    li(class=`${active ? 'side-nav--active': ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}
block content 
    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    +navItem('/me', 'Settings', 'settings', false)
                    +navItem('/my-tours', 'My bookings', 'briefcase')
                    +navItem('#', 'My reviews', 'star')
                    +navItem('#', 'Billing', 'credit-card')
                - if(user.role === 'admin')
                    .admin-nav
                        h5.admin-nav__heading Admin
                        ul.side-nav
                            +navItem('/manage-tours', 'Manage tours', 'map', false)
                            +navItem('/manage-users', 'Manage users', 'users', true)
                            +navItem('/manage-reviews', 'Manage reviews', 'star', false)
                            +navItem('#', 'Manage bookings', 'briefcase')

            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Manage Users
                    .container.container--wide
                        each user in users
                            .user-row
                                .user-info
                                    img(src=`/img/users/${user.photo}`, alt=`Photo of ${user.name}`)
                                    div
                                        p Name: #{user.name}
                                        p Role: #{user.role}
                                .user-actions
                                    button.btn.btn--small.btn--green Edit
                                    button.btn.btn--small.btn--blue View
                                    button.btn.btn--small.btn--red(data-id=user._id) Delete

block append scripts
    script(src="/js/index.js")
