extends base

include mixins
include _side-nav

block content
    main.main
        .user-view
            +sideNav(user, 'manage-users')

            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Manage Users
                    .container.container--wide
                        each user in users
                            .user-row
                                .user-info
                                    img(src=`/img/users/${user.photo}`, alt=`Photo of ${user.name}`)
                                    div
                                        p Name: #{user.name}
                                        p Role: #{user.role}
                                .user-actions
                                    button.btn.btn--small.btn--green Edit
                                    button.btn.btn--small.btn--blue View
                                    button.btn.btn--small.btn--red(data-id=user._id) Delete

block append scripts
    script(src="/js/index.js")
