extends base

mixin navItem(link, text, icon, active) 
    li(class=`${active ? 'side-nav--active': ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}

block content 
    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    +navItem('/me', 'Settings', 'settings', false)
                    +navItem('/my-tours', 'My bookings', 'briefcase', false)
                    +navItem('#', 'My reviews', 'star', false)
                    +navItem('#', 'Billing', 'credit-card', false)
                - if(user.role === 'admin')
                    .admin-nav
                        h5.admin-nav__heading Admin
                        ul.side-nav
                            +navItem('/manage-tours', 'Manage tours', 'map', true)
                            +navItem('/manage-users', 'Manage users', 'users', false)
                            +navItem('/manage-reviews', 'Manage reviews', 'star', false)
                            +navItem('#', 'Manage bookings', 'briefcase', false)

            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Manage Tours
                    .container.container--wide
                        each tour in tours
                            .tour-row
                                .tour-info
                                    img.tour-image(src=`/img/tours/${tour.imageCover}`, alt=`Image of ${tour.name}`)
                                    div
                                        p Name: #{tour.name}
                                        p Duration: #{tour.duration} days
                                        p Difficulty: #{tour.difficulty}
                                .tour-actions
                                    button.btn.btn--small.btn--green Edit
                                    button.btn.btn--small.btn--blue View
                                    button.btn.btn--small.btn--red(data-id=tour._id) Delete

block append scripts
    script(src="/js/index.js")
