extends base

include mixins
include _side-nav

block content
    main.main
        .user-view
            +sideNav(user, 'manage-tours')

            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Manage Tours
                    .container.container--wide
                        each tour in tours
                            .tour-row
                                .tour-info
                                    img.tour-image(src=`/img/tours/${tour.imageCover}`, alt=`Image of ${tour.name}`)
                                    div
                                        p Name: #{tour.name}
                                        p Duration: #{tour.duration} days
                                        p Difficulty: #{tour.difficulty}
                                +itemActions(tour._id)

block append scripts
    script(src="/js/index.js")
