extends base

include mixins
include _side-nav

block content
    main.main
        .user-view
            +sideNav(user, 'manage-reviews')

            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Manage Reviews
                    .container.container--wide
                        each review in reviews
                            .review-row
                                .review-info
                                    img.review-image(src=`/img/users/${review.user.photo}`, alt=`Photo of ${review.user.name}`)
                                    div
                                        p Review by: #{review.user.name}
                                        p Rating: #{review.rating} stars
                                        p "#{review.review}"
                                .review-actions
                                    button.btn.btn--small.btn--green Edit
                                    button.btn.btn--small.btn--blue View
                                    button.btn.btn--small.btn--red(data-id=review._id) Delete

block append scripts
    script(src="/js/index.js")
